body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #soup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
  }

  .red-background {
    background-color: red;
}

.green-background {
  background-color: green;
}