body{
    background: #222;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;*/
}

.N{
    background: rgb(153, 13, 13);
    height: 250px;
    width: 60px;
    position: relative;
}

.N::before{
    background: rgb(153, 13, 13);
    height: 250px;
    width: 60px;
    position: absolute;
    content: '';
    left: 90px;
}

.N::after{
    background: #222;
    height: 20px;
    width: 175px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius:50% ;
    z-index: 4;
}
.n{
    position: absolute;
    height: 250px;
    width: 60px;
    background: red;
    left: 46px;
    transform: skew(20deg);
    box-shadow:0 0 10px -4px #222 ;
}

.E{
    background: red;
    height: 250px;
    width: 60px;
    position: absolute;
}
.E::before{
    background: rgb(153, 13, 13);
    height: 50px;
    width: 90px;
    left: 60px;
    position: absolute;
    content: '';
}
.E::after{
    background: rgb(153, 13, 13);
    bottom: 0px;
    height: 50px;
    width: 90px;
    left: 60px;
    position: absolute;
    content: '';
}
.e{
    background: rgb(153, 13, 13);
    bottom: 100px;
    height: 50px;
    width: 90px;
    left: 60px;
    position: absolute;
    content: '';
    transform: skew(0deg);
}
.ee{
    background: #222;
    height: 20px;
    width: 170px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius:50% ;
    z-index: 2;
}
.ee::before{
    background: #222;
    height: 20px;
    width: 95px;
    position: absolute;
    content: '';
    left: 75px;
    top: -152px;
    border-radius:50% ;
    z-index: 1;
}
.ee::after{
    background: #222;
    height: 20px;
    width: 95px;
    position: absolute;
    content: '';
    left: 75px;
    top: -100px;
    border-radius:50% ;
    z-index: 1;
}



.T{
    background: rgb(153, 13, 13);
    height: 50px;
    width: 90px;
    left: 600px;
    right: 60px;
    position: absolute;
}
.T::before{
    background: rgb(153, 13, 13);
    height: 50px;
    width: 90px;
    left: 60px;
    right: 60px;
    position: absolute;
    content: '';
}
.t{
    background: red;
    height: 250px;
    width: 60px;
    position: absolute;
}