html {
  height: 140%;
  background: #223;
  display: grid;
  place-items: center;
}

.box {
  --border-size: 5px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2)) 
  calc(100% - (var(--border-size) * 2)),  
  cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}
  
  .box:hover {
    animation-play-state: paused;
  }

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


:root {
  --border-radius: 1rem;
}

.text {
  z-index: 10;
  font-size: 100px;
  font-family: system-ui;
  font-weight: bold;
  color: white;
  position: absolute;
}

.card {
  position: relative;
  height: 25rem;
  width: 20rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border-radius: var(--border-radius);
}

.card::before {
  content: "";
  height: 40rem;
  width: 15rem;
  background: linear-gradient(90deg, red, blue);
  position: absolute;
  z-index: 2;
  animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.card::after {
  content: "";
  height: 24.5rem;
  width: 19.5rem;
  background: black;
  position: absolute;
  z-index: 2;
  border-radius: var(--border-radius);
}

