header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

canvas {
    display: block;
}
