body
{
  background-color: rgb(12, 12, 36);
  overflow: hidden;
}

.trace
{
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  opacity: 1;
}

@keyframes trace
{
  from
  {
    opacity: 1;
    transform: translateY(0);
  }
  to
  {
    opacity: 0;
    transform: translateY(100vh);
  }
}